.footer__column-link {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}

.footer__column-link:last-child {
  margin-bottom: 0;
}
